h1 {
	color: red;
	text-shadow: 0 0 5px red;
	background: rgba(255, 255, 255, 0.2);
	padding: 20px;
	border-color: solid red;
	border-style: solid;
	border-radius: 20px;
	margin-left: 150px;
	margin-right: 150px;
}

body {
	background: rgba(20, 20, 25, 1);
	color: white;
	letter-spacing: 0.05em;
}

td {
	border: 1px solid white;
	padding: 10px;
	background: rgba(100, 100, 100, 0.6);
	font-size: 150%;
	text-shadow: 1px 1px black;
}

th {
	border: 1px solid white;
	padding: 10px;
	background: rgba(150, 150, 255, 0.6);
	font-size: 150%;
	width: 150px;
	text-shadow: 1px 1px black;
	box-shadow: 0 0 50px rgba(150, 150, 255, 0.5);
}

th[scope="teams"] {
	width: 400px;
}